body {
  color: #bd9e5d;
  background-color: white;
  font-family: "Source Serif 4", sans-serif;
}

#title {
  background-image: url("screen_2x.jpg");
  height: 100%;
  background-size: cover;
}
.big-heading {
  padding: 22% 18% 20% 5%;
  margin-right: 20%;
  font-size: 60px;
  text-align: left;
  line-height: 65px;
  letter-spacing: 0.06em;
  font-weight: 400;
}

#contact {
  background-color: #e0e0e7;
}

#footer {
  padding: 0% 15%;
  text-align: center;
}
.social-icon {
  font-size: 1.5rem;
  margin: 5px 10px;
}

#navbarTogglerDemo02 {
  font-size: 1.4rem;
  margin: 5px 5px;
}
